@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Thin.ttf') format('ttf');
    font-weight: 200;  /* Thin */
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;  /* Normal */
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('ttf');
    font-weight: 700;  /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraBold.ttf') format('ttf');
    font-weight: 800;  /* Extra Bold */
    font-style: normal;
}


